

#root {
  --main-color: #3937fb;
  --secondary-color: #7b66fd;
  --terciary-color: #bc94ff;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

body {
  background-color: var(--main-color);
}

.card {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--secondary-color);
  border-radius: 15px;
  background-color: var(--main-color)
}

.card__id{
  text-decoration: underline;
  color: var(--terciary-color);
  font-size: 1.5rem;
}

.card__group__members {
  padding: 15px;
}

.card__group__member {
  list-style: none;
  padding: 3px;
}

.footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--terciary-color);
}